# Server Configuration
HOST=localhost
PORT=7777
DEBUG=True

# Database Configuration
DATABASE_URI=postgresql://user:password@localhost:5432/smart_building_rag

# Processing Folders
INCOMING_DIR=incoming_docs
PROCESSED_DIR=processed_docs

# Scheduler Configuration
SCHEDULER_INTERVAL_SECONDS=300
SCHEDULER_ENABLED=True

# Logging
LOG_LEVEL=INFO


# pinecone setting
PINECONE_API_KEY=''
PINECONE_INDEX_NAME="nerve-rag"
EMBEDDING_MODEL="Snowflake/snowflake-arctic-embed-s"
EMBEDDING_DIMENSIONS=384
PINECONE_ENVIRONMENT="us-east-1"

# opeani
OPENAI_API_KEY=""
